{{#partial "title" }}
    Hero Squad
{{/partial}}

<!--hero.hbs.-->
{{#partial "content"}}

    <h3>Heroes you created</h3>
    <ul>
        <li>Hero name: {{name}}</li>
        <li>Age: {{age}}</li>
        <li>Power: {{power}}</li>
        <li>weakness: {{weakness}}</li>
    </ul>
    <!--hero.hbs.-->
{{/partial}}

{{> layout.hbs}}