{{#partial "title" }}
    Hero Squad
{{/partial}}

<!--index.hbs.-->
{{#partial "content"}}

    <h1>Welcome to Hero Squad</h1>
    <p>Hero Squad is where you can create your Heroes and create a squad just like the justice League, Awesome right! Each hero has a super power and weakness, like Kryptonite which is Superman;s weakness. </p>
    <p>Great! Let's start by creating your own hero. </p>
    <button class="btn btn-info"><a href="/hero-form">CREATE HERO</a></button>
    <hr>
    <p>Each hero needs a squad and a cause to fight for!</p>
    <button class="btn btn-info"><a href="/squad-form">SQUAD UP</a></button>
    <p><a href="/hero">click here</a> to view heroes</p>
    <p><a href="/squad">click here</a> to view hero Squads </p>
    <!--squad-form.hbs.-->
{{/partial}}

{{> layout.hbs}}